ansible
ansible-base
appdirs
apypie
asn1crypto
blinker
cachetools
certifi
chardet
configobj
crcmod
cryptography
distlib
entrypoints
filelock
google-auth
idna
importlib-metadata
ipaddress
Jinja2
jmespath
jsonpatch
jsonpointer
jsonschema
keyring
keyrings.alt
kubernetes
Mako
Markdown
MarkupSafe
ntlm-auth
oauthlib
openshift
packaging
pipenv
powerline-status
psutil
pyasn1
pyasn1-modules
pycairo
pycrypto
Pygments
PyGObject
PyJWT
pyparsing
pypsrp
PySocks
pyspnego
python-dateutil
python-string-utils
pyvmomi
pywinrm
pyxdg
PyYAML
requests
requests-ntlm
requests-oauthlib
rsa
ruamel.yaml
ruamel.yaml.clib
SecretStorage
Send2Trash
six
thonny
typing-extensions
urllib3
virtualenv
virtualenv-clone
websocket-client
xmltodict
zipp
