HOST master
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile C:/Users/eroln.DESKTOP-QMFK1LG/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

HOST slave1
  HostName 127.0.0.1
  User vagrant
  Port 2200
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile C:/Users/eroln.DESKTOP-QMFK1LG/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

HOST slave2
  HostName 127.0.0.1
  User vagrant
  Port 2201
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile C:/Users/eroln.DESKTOP-QMFK1LG/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL
