Hostname = {{ ansible_hostname }}
OS = {{ ansible_distribution }} {{ ansible_distribution_version }}
ipv4 address = {{ ansible_default_ipv4.address }}
ipv6 address = {{ ansible_default_ipv6.address }}
interfaces = {{ ansible_interfaces|join(', ') }}
blk devices = {{ ansible_devices|join(', ') }}

